{% extends "base_page.html" %}
{% block title %} User Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter email" value="{{email if email}}">
    <input type="submit" value="submit">
</form>
<a href="http://127.0.0.1:5000/logout">logout</a>
{% endblock %}